/vendor/
/storage/
node_modules/
npm-debug.log
yarn-error.log

public/text_file

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
storage/logs/
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/pos
/task
/super-pay
/quotation
/superpaypayment
/superpaypayment-backup
/vendor-
/maps
/printer
/shops
/static-design
public/text_file
/backend
/vape
/pos_backup
/hrms.delivermyvape.co.uk
/vape
/backend
/mdfsheet.delivermyvape.co.uk
/payments.delivermyvape.co.uk
/pos-test.delivermyvape.co.uk
/static-design-old
/stripe.delivermyvape.co.uk
superpaypayment.zip
task.zip
/vape2.delivermyvape.co.uk
hrms.delivermyvape.co.uk.zip
/cutsheet
/post-test.delivermyvape.co.uk
/pay360.delivermyvape.co.uk